/* Color Palette
    color: #B6EADA;
    rgb(182, 234, 218)
    color: #5B8FB9;
    rgb(91, 143, 185)
    color: #301E67 ;
    rgb(48, 30, 103)
    color: #03001C;  
     rgb(3, 0, 28)
     color:#B2B2B2;
     rgb(60, 64, 72)
     color:#7B8FA1;
     rgb(123, 143, 161) */